//colors
$color_log_cabin_approx: #222222;
$color_cod_gray_approx: #080808;

html {
  position: relative;
  min-height: 100%;
}
body {
  padding-bottom: 60px;
}

/* Custom page header */
a.navbar-brand {
  padding-left: 40px;
  background-image: url(asset-path("rails-logo.png"));
  background-repeat: no-repeat;
  background-position: left center; 
  background-size: 28%;
}

/* Sticky footer */
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: $color_log_cabin_approx;
  border-top: 1px solid $color_cod_gray_approx;
  z-index: 1;

  p {
    margin-top: 20px;
  }
}

/* Blog post */
#posts-list h2 a {
  text-decoration: none;
}

#posts-list img, #post-content img {
  max-width: 100%;
}
