//colors
$color_log_cabin_approx: #222222;
$color_cod_gray_approx: #080808;

html {
  position: relative;
  min-height: 100%;
}
body {
  padding-bottom: 60px;
}
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: $color_log_cabin_approx;
  border-top: 1px solid $color_cod_gray_approx;
  p {
    margin-top: 20px;
  }
}
